<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<nav>
<ul>
<li><a href="/prueba1">Prueba 1</a></li>
<li><a href="/prueba7">Prueba 7</a></li>
<li><a href="/prueba10">Prueba 10</a></li>
<li><a href="/nosotros">NOSOTROS</a></li>
</ul>
</nav>

    {{{body}}}
  </body>
</html>
